<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
    <link rel="icon" href="/img/weather.png">

    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jaswant. It uses data from mapbox.com and weatherstack.com!</p>
        <img class ="portrait" src="/img/robot.png" alt="">
    </div>
    {{>footer}}
</body>
</html>